h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.thead-dark {
  background-color: black;
  color: white
}
.thead-light {
  background-color: #EAECEF;
  color: white
}
